* {
    margin: 0px;
    background-image: url("img/kkk.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

.Texto{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
    padding: 80px;
}


.img_borda{
    border-radius: 50%;
    box-shadow: 0 0 150px;
    transform: translateX(25vh);
    margin-top: 100px;
}


body{
    overflow-y: scroll;
    height: 5000px;
}

.container{
    background: darkviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 20px;
    border-width: 1000px;
}


nav{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 60px;
    height: 70px;
    justify-content: center;
    background:darkviolet
}

a{
    position: relative;
    cursor: pointer;
    color: white;
    font-size: 20px;
    padding: 0.5rem 1rem;
    transition: color 0.25s;
    background:darkviolet;
    font-family: Arial, Helvetica, sans-serif;
}

a::after{
    position: absolute;
    content: "";
    inset: 0;
    background: white;
    scale: 1 0;
    z-index: -1;
    transition: 0.45s;
    border-radius: 10px;
}

a:hover{
    color: black;
}

a:hover::after{
    scale: 1 1;
}

h1{
    color:ghostwhite;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
}

.quadrado_1{
    height: 400px;
    width: 600px;
    background: darkorchid;
    margin-left: 1000px;
    transform: translateY(-400px);
    border-radius: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    align-items: center;
}





